# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environments
env/
.venv/
venv/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Logs
*.log
logs/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# Node / Frontend
node_modules/
dist/
build/

# Env files / secrets
.env
.env.*

